[user]
	email = 
	name = Ayberk Aydin
[credential]
	helper = "!f() { /home/ayb/.vscode-server/bin/fd6f3bce6709b121a895d042d343d71f317d74e7/node /tmp/vscode-remote-containers-94a8c3379ab1499877c9714d12007a42fe981cd2.js $*; }; f"
[pull]
	rebase = false
[core]
	editor = nvim
